<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'imageIndex' %}">Mash Galleria</a>
            </div>
            <div class="col-sm-4 col-md-4 navbar-right">
                <form class="navbar-form" role="search" action="{% url 'searchResults' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Image by Category" name="image_category">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto" style = 'list-style: none;'>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle location navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">Location</a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdown">
                            {% for location in locations %}
                                <p style="margin-left:2%"><a class="dropdown-item" href="{% url 'location' %}">{{location.location}}</a></p>       
                            {%endfor%}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>